version: "3.3"

services:
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    restart: unless-stopped
    command: server /data --address ":9000" --console-address ":9001"
    networks:
      - traefik-net
    volumes:
      - minio-data:/data
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=12345678
    healthcheck:
      test: "timeout 5s bash -c ':> /dev/tcp/127.0.0.1/9000' || exit 1"
      interval: 30s
      timeout: 20s
      retries: 3
    labels:
      - traefik.enable=true
      
      # API
      - traefik.http.routers.minio-api.rule=Host(`minio-api.localhost`)
      - traefik.http.routers.minio-api.entrypoints=web,websecure
      - traefik.http.services.minio-api.loadbalancer.server.port=9000
      - traefik.http.routers.minio-api.service=minio-api
      # - traefik.http.routers.minio-api.tls.certresolver=letsencrypt-resolver      

      # Console
      - traefik.http.routers.minio-console.rule=Host(`minio-console.localhost`)
      - traefik.http.routers.minio-console.entrypoints=web,websecure
      - traefik.http.services.minio-console.loadbalancer.server.port=9001
      - traefik.http.routers.minio-console.service=minio-console
      # - traefik.http.routers.minio-console.tls.certresolver=letsencrypt-resolver

  createbuckets:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    networks:
      - traefik-net
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      /usr/bin/mc alias set anyaliasminio http://minio:9000 minio 12345678;
      /usr/bin/mc mb --ignore-existing anyaliasminio/test;
      /usr/bin/mc anonymous set public anyaliasminio/test/public;
      exit 0;
      "
    depends_on:
      - minio

volumes:
  minio-data:
    name: minio-data

networks:
  traefik-net:
    external: true
