version: "3"

services:

  nocobase-postgres:
    image: postgres:18
    restart: always
    command: postgres -c wal_level=logical
    environment:
      POSTGRES_PASSWORD: nocobase
    volumes:
      - nocobase-postgres-data:/var/lib/postgresql
    networks:
      - traefik-net

  nocobase:
    image: nocobase/nocobase:latest
    networks:
      - traefik-net
    depends_on:
      - nocobase-db
    volumes:
      - nocobase-data:/app/nocobase/storage
    environment:
      - APP_KEY=your-secret-key
      - TZ=America/Sao_Paulo
      - INIT_APP_LANG=en
      
      - INIT_ROOT_EMAIL=contato@alexandreafonso.com.br
      - INIT_ROOT_PASSWORD=admin123
      - INIT_ROOT_NICKNAME="Super Admin"

      - DB_DIALECT=postgres
      - DB_HOST=nocobase-db
      - DB_DATABASE=postgres
      - DB_USER=postgres
      - DB_PASSWORD=nocobase
    labels:
      - traefik.enable=true
      - traefik.http.routers.nocobase.rule=Host(`nocobase.localhost`)
      - traefik.http.routers.nocobase.entrypoints=web,websecure
      - traefik.http.services.nocobase.loadbalancer.server.port=80
      # - traefik.http.routers.nocobase.tls.certresolver=letsencrypt-resolver
    

volumes:
  nocobase-postgres-data:
    driver: local
  nocobase-data:
    driver: local

networks:
  traefik-net:
    external: true
