version: '3.8'

services:
  n8n-db:
    image: postgres
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - n8n-db-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=n8n
      - POSTGRES_PASSWORD=n8n_password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d $${POSTGRES_DB}"]
      start_period: 5s
      interval: 30s
      timeout: 10s
      retries: 10

  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - n8n-data:/home/node/.n8n
    environment:
      - NODE_ENV=production
      
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=n8n-db
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_USER=postgres
      - DB_POSTGRESDB_PASSWORD=n8n_password

      - GENERIC_TIMEZONE="America/Sao_Paulo"
      - TZ="America/Sao_Paulo"

      - WEBHOOK_URL=http://n8n.localhost
      - N8N_EDITOR_BASE_URL=http://n8n.localhost

      - N8N_HOST=n8n.localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_PROXY_HOPS=1
      - N8N_SECURE_COOKIE=false

      - NODE_FUNCTION_ALLOW_BUILTIN="*"
      - NODE_FUNCTION_ALLOW_EXTERNAL=moment,axios
    labels:
      - traefik.enable=true
      - traefik.http.routers.n8n.rule=Host(`n8n.localhost`)
      - traefik.http.routers.n8n.entrypoints=web,websecure
      - traefik.http.services.n8n.loadbalancer.server.port=5678
      # - traefik.http.routers.n8n.tls.certresolver=letsencrypt-resolver

volumes:
  n8n-data:
    driver: local
  n8n-db-data:
    driver: local

networks:
  traefik-net:
    external: true
