# https://baserow.io/docs/installation/install-using-standalone-images

# https://baserow.io/docs/installation/configuration

# https://github.com/baserow/baserow/blob/develop/docker-compose.yml

x-shared-env: &shared-env
  SECRET_KEY: change_me_to_a_random_secret_key
  
  DATABASE_HOST: baserow-db
  DATABASE_NAME: baserow
  DATABASE_USER: postgres
  DATABASE_PASSWORD: baserow_password

  REDIS_HOST: baserow-redis
  REDIS_PORT: 6379
  REDIS_DB: 0
  REDIS_USER: 
  REDIS_PASSWORD: 

  BASEROW_PUBLIC_URL: 
  PUBLIC_BACKEND_URL: http://api-baserow.localhost
  PUBLIC_WEB_FRONTEND_URL: http://baserow.localhost

  EMAIL_SMTP_HOST:
  EMAIL_SMTP_PORT:
  EMAIL_SMTP_USER:
  EMAIL_SMTP_PASSWORD:
  FROM_EMAIL:

  AWS_ACCESS_KEY_ID:
  AWS_SECRET_ACCESS_KEY:
  AWS_STORAGE_BUCKET_NAME:
  AWS_S3_REGION_NAME: auto
  AWS_S3_ENDPOINT_URL:

services:

  baserow-db:
    image: pgvector/pgvector:pg18
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - baserow-db-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=baserow
      - POSTGRES_PASSWORD=baserow_password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d $${POSTGRES_DB}"]
      start_period: 5s
      interval: 30s
      timeout: 10s
      retries: 10

  baserow-redis:
    image: redis:alpine
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - baserow-redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      start_period: 5s
      interval: 30s
      timeout: 10s
      retries: 5
  
  baserow-backend:
    image: baserow/backend:1.35.3
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - baserow-media-data:/baserow/media
    environment:
      <<: *shared-env
    labels:
      - traefik.enable=true
      - traefik.http.routers.baserow.rule=Host(`api-baserow.localhost`)
      - traefik.http.routers.baserow.entrypoints=web # ,websecure
      # - traefik.http.services.baserow.loadbalancer.server.port=8000
      # - traefik.http.routers.baserow.tls.certresolver=letsencrypt-resolver
    depends_on:
      - baserow-db
      - baserow-redis

  baserow-web-frontend:
    image: baserow/web-frontend:1.35.3
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - baserow-media-data:/baserow/media
    environment:
      - BASEROW_PUBLIC_URL=
      - PUBLIC_BACKEND_URL=http://api-baserow.localhost
      - PUBLIC_WEB_FRONTEND_URL=http://baserow.localhost
      - PRIVATE_BACKEND_URL=http://baserow-backend:8000
    labels:
      - traefik.enable=true
      - traefik.http.routers.baserow.rule=Host(`baserow.localhost`)
      - traefik.http.routers.baserow.entrypoints=web # ,websecure
      # - traefik.http.services.baserow.loadbalancer.server.port=80
      # - traefik.http.routers.baserow.tls.certresolver=letsencrypt-resolver
    depends_on:
      - baserow-backend

  baserow-celery:
    image: baserow/backend:1.35.3
    command: celery-worker
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - baserow-media-data:/baserow/media
    environment:
      <<: *shared-env
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/baserow/backend/docker/docker-entrypoint.sh celery-worker-healthcheck",
        ]
    depends_on:
      - baserow-backend

  baserow-celery-export-worker:
    image: baserow/backend:1.35.3
    command: celery-exportworker
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - baserow-media-data:/baserow/media
    environment:
      <<: *shared-env
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/baserow/backend/docker/docker-entrypoint.sh celery-exportworker-healthcheck",
        ]
    depends_on:
      - baserow-backend

  baserow-celery-beat-worker:
    image: baserow/backend:1.35.3
    command: celery-beat
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - baserow-media-data:/baserow/media
    environment:
      <<: *shared-env
    stop_signal: SIGQUIT # See https://github.com/sibson/redbeat/issues/129#issuecomment-1057478237
    depends_on:
      - baserow-backend

  baserow-volume-permissions-fixer:
    image: bash:4.4
    command: chown 9999:9999 -R /baserow/media
    volumes:
      - baserow-media-data:/baserow/media
    networks:
      - traefik-net

volumes:
  baserow-db-data:
    driver: local
  baserow-redis-data:
    driver: local
  baserow-media-data:
    driver: local

networks:
  traefik-net:
    external: true