version: '3.3'

services:
  evolution-db:
    image: postgres:15
    restart: unless-stopped
    networks:
      - traefik-net
    command: ["postgres", "-c", "max_connections=1000"]
    environment:
      - POSTGRES_DB=evolution
      - POSTGRES_PASSWORD=123456
    volumes:
      - evolution-db-data:/var/lib/postgresql/data

  evolution-db-kv:
    image: redis:latest
    restart: unless-stopped
    networks:
      - traefik-net
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - evolution-db-kv-data:/data

  evolution-minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    restart: unless-stopped
    command: server /data --address ":9000" --console-address ":9001"
    networks:
      - traefik-net
    volumes:
      - n8n-minio-data:/data
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=12345678

    healthcheck:
      test: "timeout 5s bash -c ':> /dev/tcp/127.0.0.1/9000' || exit 1"
      interval: 30s
      timeout: 20s
      retries: 3
    labels:
      - traefik.enable=true
      
      # API
      - traefik.http.routers.evo-minio-api.rule=Host(`evo-minio-api.localhost`)
      - traefik.http.routers.evo-minio-api.entrypoints=web # ,websecure
      - traefik.http.services.evo-minio-api.loadbalancer.server.port=9000
      - traefik.http.routers.evo-minio-api.service=evo-minio-api
      # - traefik.http.routers.evo-minio-api.tls.certresolver=letsencrypt-resolver      

      # Console
      - traefik.http.routers.evo-minio-console.rule=Host(`evo-minio-console.localhost`)
      - traefik.http.routers.evo-minio-console.entrypoints=web # ,websecure
      - traefik.http.services.evo-minio-console.loadbalancer.server.port=9001
      - traefik.http.routers.evo-minio-console.service=evo-minio-console
      # - traefik.http.routers.evo-minio-console.tls.certresolver=letsencrypt-resolver

  evolution-minio-createbuckets:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    networks:
      - traefik-net
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      /usr/bin/mc alias set anyaliasminio http://evolution-minio:9000 minio 12345678;
      /usr/bin/mc mb --ignore-existing anyaliasminio/evolution;
      /usr/bin/mc anonymous set public anyaliasminio/evolution/public;
      exit 0;
      "
    depends_on:
      - evolution-minio

  evolution:
    image: evoapicloud/evolution-api:v2.3.6
    restart: unless-stopped
    volumes:
      - evolution-data:/evolution/instances
    networks:
      - traefik-net
    ports:
      - 3080:8080
    environment:
      - SERVER_TYPE=http
      - SERVER_PORT=8080
      - SERVER_URL=https://cloudflaretunnel.test.com.br
      
      - LANGUAGE=en

      - AUTHENTICATION_API_KEY=42AB83C3C977417CBBFCCE10F7D57X11
      - AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=true
      
      - TELEMETRY=false      

      - WA_BUSINESS_TOKEN_WEBHOOK=evolution
      - WA_BUSINESS_URL=https://graph.facebook.com
      - WA_BUSINESS_VERSION=v20.0
      - WA_BUSINESS_LANGUAGE=en_US

      - DEL_INSTANCE=false

      - CONFIG_SESSION_PHONE_CLIENT=Evolution API V2
      - CONFIG_SESSION_PHONE_NAME=Chrome
      - CONFIG_SESSION_PHONE_VERSION=2.3000.1024176251

      - QRCODE_LIMIT=60

      - DATABASE_ENABLED=true
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://postgres:123456@evolution-db:5432/evolution?schema=public
      - DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange
      - DATABASE_SAVE_DATA_INSTANCE=true
      - DATABASE_SAVE_DATA_NEW_MESSAGE=true
      - DATABASE_SAVE_MESSAGE_UPDATE=true
      - DATABASE_SAVE_DATA_CONTACTS=true
      - DATABASE_SAVE_DATA_CHATS=true
      - DATABASE_SAVE_DATA_LABELS=true
      - DATABASE_SAVE_DATA_HISTORIC=true

      - S3_ENABLED=true
      - S3_ACCESS_KEY=minio
      - S3_SECRET_KEY=12345678
      - S3_ENDPOINT=evolution-minio
      - S3_PORT=9000
      - S3_USE_SSL=false
      - S3_REGION=auto
      - S3_BUCKET=evolution
      
      - CACHE_REDIS_ENABLED=true
      - CACHE_REDIS_URI=redis://evolution-db-kv:6379/0
      - CACHE_REDIS_PREFIX_KEY=evo
      - CACHE_REDIS_SAVE_INSTANCES=false
      - CACHE_LOCAL_ENABLED=false
    labels:
      - traefik.enable=true
      - traefik.http.routers.n8n-evolution.rule=Host(`evolution.localhost`)
      - traefik.http.routers.n8n-evolution.entrypoints=web # ,websecure
      - traefik.http.services.n8n-evolution.loadbalancer.server.port=8080
      - traefik.http.services.n8n-evolution.loadbalancer.passHostHeader=true
      # - traefik.http.routers.n8n-evolution.tls.certresolver=letsencrypt-resolver
    depends_on: 
      - evolution-db
      - evolution-db-kv
    
    
volumes:
  evolution-db-data:
    name: evolution-db-data
  evolution-pgadmin-data:
    name: evolution-pgadmin-data
  evolution_v2-data:
    name: evolution_v2-data
  evolution-rabbitmq-data:
    name: evolution-rabbitmq-data
  evolution-db-kv-data:
    name: evolution-db-kv-data


networks:
  traefik-net:
    external: true
